@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  font-family: "Roboto";
}
body {
  background-color: #51e2f5;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.wrapper {
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.choise__container img {
  cursor: pointer;
  height: 200px;
  width: 200px;
}
.winner__player,
.winner__computer {
  background-color: #269f37;
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  display: none;
}

.winner__player.active {
  display: block;
}
.winner__computer.active {
  display: block;
}
